@import url('https://fonts.googleapis.com/css?family=Cinzel:900|Montserrat|Rubik+Mono+One');


body{
	color: #dbdada;
	font-family: "Montserrat";
	
	background-color: #1f1f1f;

}

h1, h3 {
	text-align: center;
	text-transform: uppercase;
	font-family: 'Rubik Mono One'; 

	text-shadow: 2px 2px 4px #444444;
}

h1 {
	padding-bottom: 25px;
}


/* offsets the navbar covering the sections after clicking a section link */
.anchor{
	display: block;
	position: relative;
	top: -25px;
	visibility: hidden;
	}

@media(max-width: 767px){
	.anchor{
		top: 25px;
		}
}

/********NAVBAR********/
.navbar{
	text-transform: uppercase;
	font-family: "Rubik Mono One";
}
.navbar-dark {
	background-color: #1f1f1f !important;
}

@media (max-width:767px) {
	.navbar-dark {
		background-color: #ffffff00 !important;
	}

	.logo-middle > img{
		display: none;
	}
	.navbar .border-bottom{
		border-bottom: 1px solid #dbdada !important
	}
}
@media(min-width:768px) {
	.logo-left > img{
		display: none;
	}
	.navbar {
		border-bottom: 1px solid #dbdada !important;
	}
}

.logo-middle:hover{
	transition: transform .6s;
	transform: scale(0.9);
}

/********LANDING-VIEW********/

@media(max-width:1090px){
	header {
		background-image: url("../images/background/landing2_cropped.jpg");
		background-position: left;
	}
}

@media(min-width:1091px){
	header {
		background-image: url("../images/background/landing2.jpg");
		background-position: top;
	}
}
header{
	background-repeat: no-repeat;
	
	background-size: cover;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

	height: 100vh;
}

header > h1 {
	color: white;

	font-size: 10vw;
	font-family: 'Cinzel';
	font-weight: bold;
	white-space: nowrap;

	text-shadow: 2px 2px 4px #555555;

    position: absolute;
    top:  50%;
    left: 50%;
	transform: translate(-50%,-50%);
	
	padding-bottom: 0px;

	-webkit-animation-duration: 5s;
	animation-duration: 5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@media(min-width:576px){
	header > h1 {
		font-size: 3.6em;
	}
}

/* landing view header fade in */
@-webkit-keyframes fadeIn {
	0% {opacity: 0.;}
	100% {opacity: 1;}
 }
 
 @keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
 }
 
 .fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
 }

/********ABOUT********/

#about {
	
	background-color: #010705;
}
@media(min-width:992px){

	#img-top {
		padding: 0 15% 0 15%;
	}
}
.about-container h1{
	margin-top: -50px;
}

/* Read more... link */
.about-link {
	color: #dbdada;
	text-decoration: none;
}
.about-link:hover {
	color: #ffffff;
	text-decoration: none;	
}

.modal-body {
	background-color: black !important;
}

.modal-body > h5 {
	font-weight: bold;
}

.modal-content {
	border: 1px solid rgb(139, 139, 139) !important;
}

.modal-header {
	background-color: black !important;
}

.modal-footer {
	background-color: #000000;
	border-top: 0 none;
}

/* modal close button */

.modal-footer .btn {
	color: #ebebeb;
	background-color: #7a7a7a !important;
	border-color: #9b9b9b;
	border-radius: 5px;
}

.modal-footer > .btn:hover {
	background-color: #575757 !important;
}

.modal-footer > .btn:focus{
	background-color: #333333 !important;
	border-color: #9b9b9b !important;
	box-shadow:none !important;
}

.modal-footer > .btn:active{
	border-color: #9b9b9b !important;
}
/********PHOTO********/

#photo {
	background: #010705;
	padding-top: 35px;
}

.carousel-inner img {
	width: 100%;
	height: 100%;
}

/********MUSIC********/

#music {
	background-color: #1f1f1f;
	padding: 35px 0px 0px 0px;
	background-image: url("../images/background/bg.jpg");
	background-size: cover;
}

/* albums grid */
@media (max-width:767px) {
	.albums > .col-sm-12 {
		padding: 0px 50px 30px 50px;
	}
}

@media (min-width:768px) {
	.albums > .col-md-6 {
		padding-bottom: 30px;
	}
}

@media (min-width:1200px) {
	.albums > .col-lg-3 {
		padding-bottom: 30px;
	}
}

.album-cover > img {
	border: 1px solid;
	border-color: #474747;
}

/* display text on hover */
.album-cover{
	position: relative;
	display: inline-block;
	margin: 0 auto;
	overflow: hidden;
  }
  
.album-cover img {
	transition: all .5s ease-in-out;
  }
  
.album-cover:hover img {
	filter: blur(3px);
	transform: scale(1.03);
	opacity: 0.5;
  }
.album-cover:hover .text {
	opacity: 1;
  }
  
.album-cover .text {
	color: white;
	font-size: 0.9em;
	letter-spacing: 2px;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: opacity .5s ease-in-out;
	text-align: center;
  }

.text {
	text-transform: uppercase;
	font-weight: bold;
	
}

/* responsive spotify player */
.embed-container {
    position: relative;
    padding-bottom: 400px;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media(max-width:767px) {
	.embed-container {
		margin-left: 6.9%;
		margin-right: 6.9%;

		margin-top: 50px;
	}
}

@media(min-width:992px) {
	.embed-container{
		margin-left: 25.6756757%;
		margin-right: 25.6756757%;	
	}
}
/********VIDEO********/
#video{
	padding-top: 35px;
	background-color: #140F07;
}

/********TOUR********/
#tour {
	padding-top: 35px;
	padding-bottom: 50px;
	
	text-transform: uppercase;
	font-family: 'Montserrat';
	font-weight: bold;

	line-height: 2;
}

/* grid styling */
.tour-dates > .row {
	padding: 10px 0px 10px 0px;
}

.tour-dates > .row:nth-of-type(2n+1) {
	background-color: #303030;
	padding: 10px 0px 10px 0px;
}

@media(max-width:991px){
	.tour-dates > .row > div {
		text-align: center;
	}	
}

/* tickets button */
.btn-buy {
	color: #dbdada;
	border-radius: 15px !important;
	background-color: #808080 !important;
	
}
.btn-buy:hover{
	background-color: #575757 !important;
}

.btn-buy:focus{
	background-color: #333333 !important;
	box-shadow:none !important;
}

/********FOOTER********/
#follow {
	padding-bottom: 40px;
}
/****NEWSLETTER****/

.newsletter > div {
	padding-top: 15px;
  }

/* input field */
input[type=email] {
	margin-right: 15px;
	border-radius: 0px !important;
}

::placeholder {
	text-transform: uppercase;
	font-weight: bold;
}

/* sign up button */
button[type=submit] {
	color: #ebebeb;
	background-color: #7a7a7a !important;
	border-color: #9b9b9b;
	border-radius: 0px !important;

	text-transform: uppercase;
	
	height: 38px;
	font-size: 0.85em;
	font-weight: bold;
}
button[type=submit]:hover {
	background-color: #575757 !important;
	border-color: #9b9b9b !important;
}

button[type=submit]:focus {
	background-color: #333333 !important;
	border-color: #9b9b9b !important;
	box-shadow:none !important;
}

form small {
	margin-right: 100px;
}

@media(max-width:575px) {
	::placeholder {
		text-align: center;
	}
	input[type=email]{
		margin-right: 0px;
		width: 70vw;
	}
	form small {
		margin-right: 0px;
	}
}

@media(min-width:576px) and (max-width:767px) {
	input[type=email]{
		width: 350px !important;
	}
}

@media(max-width:767px) {
	.newsletter {
		padding-bottom: 50px;
	}
}

@media(max-width:575px) {
	.form-group {
		margin-bottom: 0px;
	}
}

@media(min-width:992px) {
	input[type=email]{
		width: 350px !important;
	}
}

/********CONTACT********/
.contact > div{
	padding-top: 15px;
}

h6{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.9em;
}

/* email address */
.contact a {
	color: #dbdada;
}
.contact a:hover{
	color:white;
}

#bottom-bar{
	background-color: #000000;
	padding-top: 5px;
	padding-bottom: 10px;
}

/********ICONS********/
.icons a {
	color: #7a7a7a;

	font-size: 40px;
	margin-right: 15px;
	
	transition: all .5s ease;
}

.icons a:nth-child(3){
	margin-right: 40px;
}

.icons a:hover {
	color: white;
}

@media(max-width:461px){
	.icons a{
		font-size: 30px;
		margin-right: 10px;
	}
	.icons a:nth-child(3){
		margin-right: 25px;
	}
	.icons a:nth-child(6){
		margin-right: 0px;
	}
}

/********Copyright********/
.copyright p {
	padding-top: 10px;
	margin-bottom: 0;
	
	font-size: 0.75em;
	color: #6c757d;
}