@import url('https://fonts.googleapis.com/css?family=Cinzel:900|Montserrat|Rubik+Mono+One');


body{
	color: #dbdada;
	font-family: "Montserrat";
	
	background-color: #1f1f1f;

}


/********NAVBAR********/
.navbar{
	text-transform: uppercase;
	font-family: "Rubik Mono One";
	
	
	
}
.navbar-dark {
	background-color: #1f1f1f !important;
}