@import url('https://fonts.googleapis.com/css?family=Cinzel:900|Montserrat|Rubik+Mono+One');


body{
	color: #dbdada;
	font-family: "Montserrat";
	
	background-color: #1f1f1f;

}

h1 {
	text-align: center;
	text-transform: uppercase;
	font-family: 'Rubik Mono One'; 

	text-shadow: 2px 2px 4px #444444;
}

/********NAVBAR********/
.navbar{
	text-transform: uppercase;
	font-family: "Rubik Mono One";
	
	
	
}
.navbar-dark {
	background-color: #1f1f1f !important;
}

@media (max-width:767px) {
	.navbar-dark {
		background-color: #ffffff00 !important;
	}
	a.nav-link {
		
	}
}

/********LANDING-VIEW********/
header{
	background-image: url("../images/background/landing.jpg");
	background-repeat: no-repeat;
	background-position: bottom; /* experiment with different values for different resolutions */
	
	background-size: cover;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

	height: 100vh;
	
}

header > h1 {
	color: white;
	font-size: 6.3em;
	font-family: 'Cinzel';
	font-weight: bold;

	text-shadow: 2px 2px 4px #555555;

    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/********TOUR********/
#tour {
	background-image: url("../images/background/tour_blur.jpg");
	background-repeat: no-repeat;
	background-position: top;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	

	text-transform: uppercase;
	padding-top: 50px;
	
	font-family: 'Montserrat';
	font-weight: bold;

	line-height: 1.5;

	background-color: rgb(99, 71, 49);
	background-blend-mode: lighten;
	
}

.tour-dates {
	

	padding-top: 25px;
	padding-bottom: 50px;
}

/********ABOUT********/

#about {
	
	background-color: #000000;
	
}

#img-top {
	padding: 0;
}

.about-container {
	
	
}

/********PHOTO********/

#photo {
	background: #000000;
}

.carousel-inner img {
	width: 100%;
	height: 100%;
}

/********ALBUMS********/

#albums {
	background-image: url("../images/background/albums.jpg");
	background-repeat: no-repeat;
	background-position: bottom;

	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

	padding: 50px 0px 50px 0px;
	background-color: grey;

	background-blend-mode: lighten;

}

@media (max-width:768px) {
	.col-sm-12 {
		padding: 10px 50px 10px 50px;

	}
}

/********BUY********/

/********FOLLOW********/

